@import "node_modules/modern-normalize/modern-normalize.css";

:root {
  /* colors */
  --sxd-purple-600: hsl(266, 57%, 48%);
  --sxd-purple-500: hsl(266, 55%, 65%);
  --sxd-purple-50: #f8f2ff;
  --sxd-green-600: #237b49;
  --sxd-green-50: #f2fff8;
  --sxd-neutral-600: #3d3d3d;
  --sxd-neutral-550: #3d3d3d;
  --sxd-neutral-500: #6b6b6b;
  --sxd-neutral-400: #8c8c8c;
  --sxd-neutral-300: #d6d6d6;
  --sxd-neutral-200: #fcfcfc;
  --sxd-neutral-100: #f7f7f7;

  /* depth */
  --sxd-raised: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  --sxd-overlay: drop-shadow(0 0 #0000);

  /* spacing */
  --sxd-space-xxs: 0.25rem; /* 4px */
  --sxd-space-xs: 0.5rem; /* 8px */
  --sxd-space-sm: 1rem; /* 16px */
  --sxd-space-med: 1.5rem; /* 24px */
  --sxd-space-lg: 2rem; /* 32px */
  --sxd-space-xl: 3rem; /* 48px */
  --sxd-space-xxl: 5rem; /* 80px */

  /* corners */
  --sxd-rounded: 0.7rem; /* 8px */

  /* animations */
  --sxd-transition-duration: 150ms;
}

[color-theme="light"] {
  --sxd-primary-600: var(--sxd-purple-600);
  --sxd-primary-50: var(--sxd-purple-500);
  --sxd-secondary-600: var(--sxd-green-600);
  --sxd-secondary-50: var(--sxd-green-50);

  --sxd-text-strong: var(--sxd-neutral-600);
  --sxd-text-weak: var(--sxd-neutral-500);
  --sxd-text-on-primary: var(--sxd-neutral-200);
  --sxd-stroke-strong: var(--sxd-neutral-400);
  --sxd-stroke-weak: var(--sxd-neutral-300);
  --sxd-neutral-fill-base: var(--sxd-neutral-200);
  --sxd-neutral-fill-raised: var(--sxd-neutral-200);
  --sxd-neutral-fill-overlay: var(--sxd-neutral-200);
  --sxd-neutral-background: var(--sxd-neutral-100);
}

[color-theme="dark"] {
  --sxd-primary-600: var(--sxd-purple-500);
  --sxd-primary-50: var(--sxd-purple-500);
  --sxd-secondary-600: var(--sxd-green-600);
  --sxd-secondary-50: var(--sxd-green-50);

  --sxd-text-strong: var(--sxd-neutral-100);
  --sxd-text-weak: var(--sxd-neutral-300);
  --sxd-text-on-primary: var(--sxd-neutral-100);
  --sxd-stroke-strong: var(--sxd-neutral-200);
  --sxd-stroke-weak: var(--sxd-neutral-200);
  --sxd-neutral-fill-base: var(--sxd-neutral-500);
  --sxd-neutral-fill-raised: var(--sxd-neutral-500);
  --sxd-neutral-fill-overlay: var(--sxd-neutral-500);
  --sxd-neutral-background: var(--sxd-neutral-600);
}

* {
  transition: background-color var(--sxd-transition-duration);
}
body {
  height: 100vh;
  width: 100vw;
  background: var(--sxd-neutral-background);

  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  min-width: 1280px;
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: inherit;
  outline: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: inherit;
}
